/*UNIVERSAL*/
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
}
body{
    background-color: lightgrey;
}
/*TITULOS*/
h1{
    color: #D4AF37;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
}
h2{
    font-size: x-large;
    color: white;
}
h3{
    font-size:large;
    color: white;
}

/*ENCABEZADO*/
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    background: linear-gradient(darkgrey, black);
    justify-content: space-between;
    padding: 0.5rem;
}
/*NAV MENU*/
.nav-list{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: red;
}
.nav-list a{
    color: white;
    text-decoration: none;
}
.nav-list :hover{
    text-decoration: none;
    color: white;
}
/* ABRE Y CIERRA HAMBUGUESA */
.menu-abrir,
.menu-cerrar{
    display: none;
}
/* MAIN */
main{
    padding-top: 50px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.titulo-main p{
    font-size: 100px;
    color: orange;
}

article{
    background-color: lightgrey;

}
.icon{
    text-align: center;
}

.icon i{
    color: orange;
    font-size: 10rem;
}
/* CONTACTOS */
footer{
    height: 100px;
    display: flex;
    background: linear-gradient(black,darkgrey);
    padding: 10px;
    justify-content: center;
}
.contatos-titulo{ 
    justify-items: center;
}
.contactos-link{
    display: flex;
    gap: 20px;
}

@media (900px > width){
    .titulo-main h3{
        font-size: 50px;
        padding-top: 50px;
    }
}

@media (635px > width){
    header{
        display: flex;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: lightgray;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible{
        visibility: visible;
        opacity: 1;
        
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        color: black;
    }
    .menu-abrir,
    .menu-cerrar{
        display: block;
        color: white;
        border: none;
        background-color: transparent;
        font-size: 30px;
        cursor: pointer;
    }
}
@media (400px > width){
    .titulo-main h3{
        font-size: 30px;
        padding-top: 50px;
    }
}